@{ 
    ViewBag.Title = "Access Denied";
}

<div class="text-danger">
    <h1 class="text-danger">ACCESS DENIED</h1>
    <h3 class="text-danger">You don not have permisson to view this resource</h3>
    <img src="~/Imgs/AccessDenied.png" alt="Baka" style="width:60%; height:auto" />
</div>